In [1]:
import pandas as pd

In [17]:
votes_df = pd.read_excel('../data/eurovision_song_contest_1975_2016.xlsx')

In [18]:
votes_df = votes_df[["Year", "(semi-) final", "Jury or Televoting", 
                     "From country", "To country", "Points"]]
votes_df.head()

   Year (semi-) final Jury or Televoting From country To country  Points
0  1975             f                  J      Belgium    Belgium       0
1  1975             f                  J      Belgium    Finland       0
2  1975             f                  J      Belgium     France       2
3  1975             f                  J      Belgium    Germany       0
4  1975             f                  J      Belgium    Ireland      12

In [10]:
votes_df.describe(include='all')

,Year,(semi-) final,Jury or Televoting,From country,To country,Points
count,38181.000000,38181,38181,38181,38181,38181.000000
unique,NaN,4,2,53,52,NaN
top,NaN,f,J,Spain,Sweden,NaN
freq,NaN,27875,36395,1236,1292,NaN
mean,2003.171735,NaN,NaN,NaN,NaN,2.600796
std,11.021282,NaN,NaN,NaN,NaN,3.650331
min,1975.000000,NaN,NaN,NaN,NaN,0.000000
25%,1996.000000,NaN,NaN,NaN,NaN,0.000000
50%,2007.000000,NaN,NaN,NaN,NaN,0.000000
75%,2012.000000,NaN,NaN,NaN,NaN,5.000000
max,2016.000000,NaN,NaN,NaN,NaN,12.000000

In [11]:
votes_df.dtypes

Year                   int64
(semi-) final         object
Jury or Televoting    object
From country          object
To country            object
Points                 int64
dtype: object

In [14]:
# Potentially can also (uncomment code to run the changes; 
# none of these were applied to get the current output .csv):

# - convert countries to categoricals?
# votes_df["From country"] = pd.Categorical(votes_df["From country"])
# votes_df["To country"] = pd.Categorical(votes_df["To country"])

# - split "jury or televoting" to 2 indicator variables
# votes_df["Jury"] = pd.Series([int(c == 'J') for c in votes_df["Jury or Televoting"]])
# votes_df["Televoting"] = pd.Series([int(c == 'T') for c in votes_df["Jury or Televoting"]])
# votes_df = votes_df.drop(columns=["Jury or Televoting"])

# Other possible transformations (probably not what we want)

# - exclude entries where from_country == to_country? (check that points are 0, but anyway)
# votes_df = votes_df[votes_df["From country"] != votes_df["To country"]]
# - (technical) can just filter out 0 points to have less data (that's the default)
# votes_df = votes_df[votes_df["Points"] != 0]


# Questions:
# - What to do w/ changes in voting rules (2016)?
#

In [21]:
# votes_df.head()

In [20]:
votes_df.to_csv('../data/votes_dataset_clean.csv', index=False)

In [26]:
# Data exploration:

year_range = (1975, 2016)
finals_only = True

data = votes_df[(votes_df['Year'] >= year_range[0]) & (votes_df['Year'] <= year_range[1])]
if finals_only:
    data = data[votes_df['(semi-) final'] == 'f']

# To see e.g. average of points from a selected country to other countries
# over the year range:
from_country = 'France'

data = data[data['From country'] == from_country]\
                [['To country', 'Points']].groupby('To country').mean()
data.sort_values('Points')

                        Points
To country
Slovakia              0.000000
Georgia               0.000000
Belarus               0.000000
San Marino            0.000000
France                0.000000
Morocco               0.000000
F.Y.R. Macedonia      0.000000
Czech Republic        0.000000
Montenegro            0.000000
Lithuania             0.214286
Albania               0.285714
Iceland               0.666667
Slovenia              1.076923
Moldova               1.250000
Cyprus                1.259259
Finland               1.266667
Norway                1.270270
Croatia               1.277778
Ukraine               1.285714
Hungary               1.461538
Azerbaijan            1.500000
Yugoslavia            1.750000
Latvia                1.800000
Monaco                1.800000
Malta                 1.913043
Romania               2.000000
Austria               2.129032
Russia                2.142857
Bosnia & Herzegovina  2.166667
Estonia               2.214286
Switzerland           2.607143
Germany               2.634146
Australia             2.666667
Greece                2.685714
Poland                2.714286
Sweden                2.800000
Ireland               3.000000
Luxembourg            3.111111
Spain                 3.285714
The Netherlands       3.344828
Denmark               3.433333
United Kingdom        3.476190
Belgium               3.645161
Serbia                4.125000
Portugal              4.689655
Turkey                4.718750
Italy                 4.750000
Israel                5.000000
Bulgaria              6.666667
Serbia & Montenegro   8.000000
Armenia               8.000000